@charset "UTF-8";

$background-color: white;
$foreground-color: black;

$element-background-color: lightgray;

$accent-text-color: teal;

$the-color: rgb(0, 60, 142);
$second-color: rgb(49, 119, 185);
$disabled-color: rgb(222, 222, 222);